@import "../vars";

body {
  .el-tree {
    width: 320px;
    background: transparent;
    color: $--icr-color-text-regular;
    >.el-tree-node {
      >.el-tree-node__content {
        height: 40px;
        background: rgba($--icr-bg-color-focus, 0.1);
        margin-bottom: 1px;
      }
      >.el-tree-node__children {
        >.el-tree-node {
          >.el-tree-node__content {
            height: 40px;
            background: rgba($--icr-bg-color-focus, 0.04);
            margin-bottom: 1px;
          }
          >.el-tree-node__children {
            >.el-tree-node {
              >.el-tree-node__content {
                height: 40px;
                background: rgba($--icr-bg-color-focus, 0.01);
                margin-bottom: 1px;
              }
            }
          }
        }
      }
    }
  }
  .el-tree-node__content:hover {
    background-color: rgba($--icr-bg-color-focus,0.3) !important;
  }
  .el-tree-node:focus > .el-tree-node__content {
    background-color: rgba($--icr-bg-color-focus,0.3);
  }
}
