// 背景
$--icr-bg-color-base: #283756;
$--icr-bg-color-regular: #1D2B48;

// 字体
$--icr-color-text-primary: #9CB4E8;
$--icr-color-text-regular: #D1E5FA;
$--icr-color-text-secondary: #D6EAFF;

//Color
$--color-primary: #4078FF;
$--color-danger: #D25B5B;

// 边框
$--icr-border-color-base: #7795D5;


// element resets
$--color-text-regular: $--icr-color-text-primary;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

