@import 'vars';

$card-height: calc((100vw - 200px) / 6);

.dashboard {
  &-container {
    margin: 10px;
    height: 100%;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.dashboard-container {
  display: grid;
  grid-template-columns: 3fr 3fr 4fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  overflow-x: scroll;
  width: auto;
  .res-stat {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .data-stat {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .pv-stat {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .user-stat {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .a-stat {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .b-stat {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .actives {
    grid-column: 3/4;
    grid-row: 3/4;
  }


  .card {
      padding: 20px 30px;
      color: $--icr-color-text-regular;
      background-color: $--icr-bg-color-base;
      border-radius: 4px;
      position: relative;
      &>i:first-child{
          position: absolute;
          color: #2da4fd;
          font-size: 18px;
          left: 7px;
          top: 21px;
      }
      .card__header{
          margin-bottom: 20px;
          position: relative;

          &::before {
            content: "";
            border-width: 0 0 11px 11px;
            top: 8px;
            left: -20px;
            border-color: #4971f6 transparent;
            border-style: solid;
            height: 0;
            width: 0;
            position: absolute;
          }
          .card__header_default {
              .title{
                  display: inline-block;
                  width: 100%;
                  border-bottom: 1px solid $--icr-border-color-base;
                  padding-bottom: 5px;
                  font-size: 18px;
              }
          }
      }
      .card__body {
        position: relative;
      }
    }

  .stat-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .stat-list__item {
      flex: 1;
      background-color: $--icr-bg-color-regular;
      border-radius: 10px;
      min-height: calc((100vw - 200px) / 6);
      margin-left: 10px;
      overflow: hidden;
      &:nth-child(1) {
        margin-left: 0;
      }
      &::before{
        position: absolute;
        width: 70px;
        height: 15px;
        content: "";
        top: 10px;
        left: -20px;
        background: #4971f6;
        transform: rotate(-45deg);
      }
    }
  }

  .data-stat-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    min-height: $card-height;
    .data-stat-list__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      .icon {
        width: calc((100vw - 200px) / 3 / 4 / 1.3);
        height: calc((100vw - 200px) / 3 / 4 / 1.3);
        background: #283281;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: white;
          position: relative;
          left: 0;
          top: 0;
          font-size: 50px;
        }
      }
      .desc {
        margin-top: 20px;
        font-weight: 800;
      }
    }
  }

  .actives-wrapper {
    max-height: $card-height;
    display: flex;
    .users-stat {
      width: 100px;
      display: flex;
      flex-direction: column;
      text-align: center;
      .users-stat__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        .icon {
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          & > i {
            font-size: 52px;
          }
        }
        p {
          margin: 0;
          margin-top: 3px;
          font-size: 16px;
          font-weight: bold;
          line-height: 23px;
        }
      }
    }

    .message-list {
      margin-left: 6%;
      flex: 1;
      .message-list__item {
        display: flex;
        flex-direction: column;
        min-height: calc((100vw - 200px) / 6 / 3 - 10px);
        background: $--icr-bg-color-secondary;
        padding: 10px;
        padding-left: 24px;
        margin-bottom: 10px;
        border-left: 5px solid $--icr-bg-color-regular;
        font-size: 14px;
        .msg {
          font-size: 18px;
          margin-top: 7px;
          p {
            padding: 0;
            margin: 0;
          }
        }
        .time {
          display: flex;
          align-items: flex-end;
          flex: 1;
          font-size: 14px;
          color: #C1C4C9;
        }
      }
    }
  }

  .stat-item {
    min-height: $card-height;
    position: relative;
    z-index: 10;
  }
}
