@import 'vars';

$headerNavHeight: 50px;

.navbar {
    height: $headerNavHeight;
    overflow: hidden;
    position: relative;
    background: $--icr-bg-color-base;
    border-bottom: 2px solid $--icr-border-color-secondary;
    color: $--icr-color-text-primary;
    box-sizing: content-box;
    font-size: 14px;
    .hamburger-container {
      line-height: 46px;
      height: 100%;
      float: left;
      cursor: pointer;
      transition: background 0.3s;
      -webkit-tap-highlight-color: transparent;

      &:hover {
        background: rgba(0, 0, 0, 0.025);
      }
    }

    .breadcrumb-container {
      float: left;
    }

    .right-menu {
      float: right;
      height: 100%;
      line-height: 40px;
      display:flex;
      justify-content: center;
      align-items: center;
      &:focus {
        outline: none;
      }

      .time {
        margin-right: 20px;
        padding-left: 24px;
        border-left: 1px solid $--icr-border-color-secondary;
      }

      .user-state {
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding-left: 24px;
        border-left: 1px solid $--icr-border-color-secondary;

        .avatar-wrapper {
          // margin-top: 5px;
          // position: relative;
          width: 30px;
          height: 30px;
          // border-radius: 50%;
          overflow: hidden;

          .user-avatar {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 2px;
          }

          .el-icon-caret-bottom {
            cursor: pointer;
            position: absolute;
            right: -20px;
            top: 25px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .user-dropdown {
    .user-box {
      display: flex;
      margin: 10px 50px 16px 11px;
      img {
        width: 52px;
        height: 52px;
        border-radius: 2px;
      }
    }
    .user-info {
      margin: 0 10px;
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      height: 100%;
      span {
        flex: 1;
        height: 20px;
        display: inline-block;
        line-height: 20px;
      }
      .name {
        font-size: 18px;
      }
      .role {
        opacity: 0.6;
      }
    }
  }
