@import '../vars.scss';
@import '../element/button.scss';

// $--app-placeholder-color:green;

$back-color: $--icr-bg-color-secondary;
$page-back-color:$--icr-markdown-bgc-color;
$text-color: $--icr-color-text-primary;
$border-color: $--icr-color-input-primary;
$hover-color: $--icr-color-input-focus;
$primary-color:$--button-primary;
// $placeholder-color: $--app-placeholder-color;


